<body>
    <h1>Transcation Histroy</h1>
    <table>
        <thead>
            <tr>
                <th>Amount</th>&nbsp;&nbsp;&nbsp;
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let transaction of transcations">
                <th>{{transaction.amount}}</th>&nbsp;&nbsp;&nbsp;
                <th>{{transaction.type}}</th>
            </tr>
            
        </tbody>
    </table>
    <br><br>
    <a routerLink="/dashboard">Home</a>
</body>
