<div class="row" >
    <div class="col-4"></div>
    <div class="col-4">
        <div class="main" >
         
              <h3>Login</h3>
            <h5 style="text-align: center;">{{aim}}</h5>
            <form (ngSubmit)="Login()">
               <input type="text" id="username" name="acno"  class="form-control" [(ngModel)]="acno" style="margin-bottom: 5px;"  placeholder="Username">
               <input type="password" id="password" name="pswd" class="form-control" [(ngModel)]="pswd" style="margin-bottom: 5px;"  placeholder="password">
               <div class="d-grid gap-2">
               <button type="submit"  class="btn btn-primary" >Login</button>
               </div>
              </form>
              <div class="line"></div>
              <a class="textfp" routerLink="register">Sign Up</a>
            </div>
         
    </div>

    <div class="col-4"></div>
</div>

